.searchBtn{
    opacity: 1;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    border-radius: 50%;
    background-image: url(../../../assets/icons/IconSearch.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
    transition: opacity 1s, box-shadow .3s, transform .3s, background-color .3s;
    cursor: pointer;
}
.searchBtn:hover{
    box-shadow: 0px 0px 20px rgba(137, 0, 255, 0.5);
}
.searchBtn:active{
    background-color: #dddddd;
    transform: scale(0.8);
}
.searchBtn::before {
    z-index: 2;
    content: attr(data-tooltip);
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 15px;
    top: 15px;
    left: 90px;
    border-radius: 50px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
.searchBtn:hover::before {
    opacity: 1;
    visibility: visible;
}
.searchBtnHide{
    opacity: 0;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    border-radius: 50%;
    background-image: url(../../../assets/icons/IconSearch.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
    transition: 1s;
}
.inputActive{
    width: fit-content;
    height: fit-content;
}
.inputDeactive .searchBar{
    padding: 0;
    width: 0;
    transition: .5s;
}
.searchBar{
    width: 450px;
    height: 40px;
    background-color: white;
    outline: none;
    border-radius: 30px;
    border: none;
    position: relative;
    padding-left: 30px;
    top: 15px;
    left: 90px;
    z-index: 2;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    color: #333333;
    transition: 1s;
}
.searchBar::placeholder{
    font-family: 'Roboto';
    font-size: 15px;
    font-style: italic;
    color: #999999;
}
.searchBar:focus{
    box-shadow: 0px 0px 10px rgba(137, 0, 255, 0.5);
    border: 0px;
}
