.wrapper{
    width: 1300px;
    height: 700px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.formwrap{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px 40px;
}
.formLabels{
    width: 45%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    color: white;
}
.errorActive{
    height: 14px;
    margin: 0px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #D94A3D;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    color: white;
}
.errorDeactive{
    height: 14px;
    margin: 0px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #04BFAD;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    color: white;
}
.inputName{
    height: 25px;
    border: none;
    border-radius: 10px;
    border: solid 1px #999999;
    margin: 10px 0px;
    padding: 5px 10px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    color: #333333;
}
.inputName:focus{
    outline: solid 2px rgb(137, 0, 255);
}
.inputRating{
    appearance: none;
    height: 5px;
    margin: 15px 0px;
    background: white;
    border-radius: 10px;
    outline: none;
} 
.inputRating::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #8900FF;
    cursor: pointer;
}
.inputRating::-webkit-slider-thumb:hover{
    outline: solid 2px white;
}
.outputRating{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: white;
    color: #333333;
    font-weight: bold;
    align-self: center;
    margin-bottom: -20px;
}
.inputReleased{
    height: 25px;
    border: none;
    border-radius: 10px;
    border: solid 1px #999999;
    margin: 10px 0px;
    padding: 5px 10px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    color: #333333;
}
.inputReleased:focus{
    outline: solid 2px rgb(137, 0, 255);
}
.inputDescription{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    height: 80px;
    margin: 10px 0px;
    padding: 10px 10px;
    border: solid 1px #999999;
    border-radius: 10px;
    resize: none;
}
.inputDescription:focus{
    outline: solid 2px rgb(137, 0, 255);
}

/* GENRES */
.selectorGenre{
    width: 50%;
}
.selectorTitleG{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    color: white;
}
.optionsWrapper{
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 15px;
}
.optionActive{
    padding: 8px 15px;
    border-radius: 10px;
    background-color: #8900FF;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bolder;
    font-style: normal;
    color: white;
    cursor: pointer;
}
.optionDeactive{
    padding: 8px 15px;
    border-radius: 10px;
    outline: solid 1px #999999;
    background-color: white;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bolder;
    font-style: normal;
    color: #333333;
    cursor: pointer;
}
.optionDeactive:hover{
    box-shadow: 0px 0px 10px rgba(137, 0, 255, 0.5);
}

/* PLATFORMS */
.selectorPlatform{
    width: 50%;
}
.selectorTitleP{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    color: white;
}
.optionsPWrapper{
    width: 100%;
    height: 200px;
    margin: 10px 0px;
    overflow: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: solid 1px #999999;
    background-color: white;
}
.optionsPWrapper::-webkit-scrollbar {
    width: 10px;
}

.optionsPWrapper::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
}
.optionsPWrapper::-webkit-scrollbar-button {
    background-color: rgba(0, 0, 0, 0);
    height: 2px;
}
.optionPActive{
    padding: 8px 15px;
    background-color: #8900FF;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bolder;
    font-style: normal;
    color: white;
    cursor: pointer;
}
.optionPDeactive{
    padding: 8px 15px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bolder;
    font-style: normal;
    color: #333333;
    cursor: pointer;
}
.optionPDeactive:hover{
    background-color: rgb(226, 204, 255);
}
@font-face {
    font-family: 'Stretch Pro';
    src: url('../../assets/fonts/StretchPro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.btnSubmit{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: 'Stretch Pro';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    color: white;
    transition: transform .2s;
}
.btnSubmit:hover{
    background-color: rgb(137, 0, 255);
}
.btnSubmit:active{
    transform: scale(.95);
}